<div class="container">
  <h1>Candles</h1>
  <div class="row">
    <% @candles.each do |candle| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag candle.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= candle.name %></h5>
            <p class="card-text"><%= candle.category.name %></p>
            <%= link_to "More details", candle_path(candle), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
